<div class="containerq" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">

       <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

       
       <span class="example-spacer"></span> 

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Perfil de Usuario" matTooltip="Cuenta">
            
          <img src="https://static.vecteezy.com/system/resources/previews/008/844/895/non_2x/user-icon-design-free-png.png" style="width:   40px; height:   40px;">

        </button>
        
        <mat-menu #menu="matMenu">
             <button mat-menu-item routerLink="/dashboard/perfil" matTooltip="Ver Perfil">
                <mat-icon>person</mat-icon>Perfil</button>

            <button (click)="onLogout()" mat-button routerLink="/logout" matTooltip="Salir" >
                <mat-icon>logout</mat-icon>Cerrar Sesion</button>
        </mat-menu>

        
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
    
            <br>

            <mat-nav-list>
           
                <a mat-list-item class="pointer1" matTooltip="Ir al Inicio">
                    <button mat-button routerLink="/dashboard" class="enc">
                    <mat-icon class="icon">home</mat-icon> Inico </button>
                </a>
                <br>
            
                <a mat-list-item class="pointer1" matTooltip="Ver Fincas">
                    <button mat-button routerLink="/dashboard/finca" class="enc">
                    <mat-icon class="icon" matTooltip="ver fincas">image_search</mat-icon>Fincas</button>
                </a>
                <br>

                <a mat-list-item class="pointer1" matTooltip="Sugerencia de fertilizante">
                    <button mat-button routerLink="/dashboard/plan-fumigacion" class="enc">
                    <mat-icon class="icon" matTooltip="Machine Learning">timeline</mat-icon>ML_IOT</button>
                </a>

            </mat-nav-list>

        </mat-sidenav>

    <mat-sidenav-content>
            <div class="contenido body1">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>   
    </mat-sidenav-container>
</div>




