  <!-- 
      style="background-color: #83A6CE;"
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="inicio.component.css">
</head>

<section>
  <div class="header">

    <h1 style="text-align: center;">BIENVENIDO AL SISTEMA DE SUGERENCIA DE FERTILIZANTE</h1>
    <h1 style="text-align: center;">MEDIANTE EL MONITOREO DE NUTRIENTES PRIMARIOS NPK</h1>
    <p  style="text-align: center;" id="datetime"></p>
    <br>
    <div class="linea"></div> 
  </div>
<br><br><br>
  <div class="main">
    
    <img
      src="https://cdn-gx-aria-media.osp.opera.software/images/7529d54e-a155-11ef-ab93-b3b5a7f1b2c5/1731457497046/sample_0.jpg"
      style="width: 200px; margin-right: 40px;">
    <h2 style="text-align: justify;">
      Este sistema se centra en la gestión de nutrientes esenciales para las plantas de cafe,
      como nitrógeno (N), fósforo (P) y potasio (K), conocidos como nutrientes primarios.
      El monitoreo de estos nutrientes es crucial para el crecimiento y desarrollo saludable de
      las plantas.
      El sistema utiliza tecnología para analizar la composición del suelo en el entorno del cultivo
      y proporciona la sugerencia correspondiente sobre qué tipo de fertilizante se aplicaria para
      optimizar las condiciones para el cultivo. Esto podria mejorar la eficiencia del uso de
      los fertilizantes,reducir costos y minimizar impactos ambientales al evitar la aplicación excesiva de nutrientes.
    </h2>
  </div>
  <br><br><br>
  <div class="linea2"></div>
  <br><br>
  <div class="main2">
    <section style="margin-right: 40px;">
      <canvas #nitrogenoChart style="width: 300px;height: 250px;"></canvas>
    </section>
    <h2 style="text-align: justify;">Con base en el monitoreo de los nutrientes primarios en el suelo, 
      el sistema genera recomendaciones de aplicación de nutrientes para el cultivo, basadas en los resultados de los componentes.
      <br><br>
      <section class="overview">
        <button routerLink="/dashboard/sugerenciad" class="button" style="margin-right: 110px;">Ver Sugerencia</button>
        <button routerLink="/dashboard/datossen" class="button">Ver Graficas</button>
      </section>
    </h2>
  </div>
 
  <footer class="footer">
    <div class="footer-content">
      <div class="logo">
        <img src="https://cdn.pixabay.com/photo/2020/03/06/03/52/coffee-4905964_1280.jpg">
      </div>
      <div class="contact-info" style="text-align: justify;">
        <p>links de adquisición de fertilizantes</p>
        <a href="https://www.acepalma.com" target="_blank">Acepalma</a><br>
        <a href="https://disanlatinoamerica.com/es/" target="_blank">Disan</a><br>
        <a href="https://www.ciamsa.com/es/" target="_blank">C.I De Azucares y Mieles-CIAMSA</a><br>
        <a href="https://nitrofert.com.co" target="_blank">Nitrofert</a><br>
        <a href="https://www.monomeros.com.co" target="_blank">Monómeros Colombo Venezolanos</a><br>
        <a href="https://nutriciondeplantas.com.co" target="_blank">Nutrición de Plantas</a><br>
        <a href="https://www.yara.com.co" target="_blank">Yara Colombia</a><br>
      </div>
      <div class="contact-info">
        <div style="text-align: justify;">
          <p>Links de interes</p>
          <a href="https://www.cafedecolombia.com/historia-del-cafe-de-colombia/" target="_blank">Historia del café en Colombia</a><br>
          <a href="https://www.cenicafe.org/es/publications/C1.pdf">Variedades de café en Colombia</a>
        </div>
      </div>
    </div>
  </footer>

 </section>
</html>
