<div class="container" >
  <mat-toolbar style="background-color: transparent;">
    <h1 style="color: rgb(0, 3, 5);">GESTIÓN DE USUARIOS</h1>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda" #input autocomplete="off">
  </mat-form-field>
  <mat-icon>search</mat-icon>
<!--Tabla de fincas-->
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Numero id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número id </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <ng-container matColumnDef="Nombre_usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="Correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>
<!--
      <ng-container matColumnDef="Rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
          <a class="pointer" style="color: black;" matTooltip="Editar usuario">
            <mat-icon class="mat-icon" (click)="eliminarFinca(element._id)"> edit </mat-icon>
          </a>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="Acciones1">
        <th mat-header-cell *matHeaderCellDef> Acción</th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
          <a class="pointer" matTooltip="Eliminar Usuario">
            <mat-icon class="mat-icon mat-warn" (click)="eliminarFinca(element._id)"> delete_outline </mat-icon>
          </a>
        </td>
      </ng-container>
-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
  <br>
</div>