<div class="container">
    <br>
    <mat-toolbar>
        <span class="example-spacer"></span>
        <span>REGISTRO DE FINCA</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</div>

<div class="modalc" #modalBack>
    <form [formGroup]="form" (ngSubmit)="guardar()">

        <div class="general">
            <div class="fondo">
                <div class="ex">
                    <br>
                    <mat-form-field class="ancho">
                        <mat-label>DEPARTAMENTO</mat-label>
                        <mat-select class="form-control" id="nombre" formControlName="estado_civil">
                            <mat-option *ngFor="let item of Departamento" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field>
                        <mat-label>MUNICIPIO</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let item of Municipio" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                <div class=" buton">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <button  type="submit" mat-raised-button class="env">Enviar </button>
                </div>

            </div>
            <div class="cent">
                <div class="da">
                    <br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>NOMBRE FINCA</mat-label>
                        <input matInput placeholder="La Palma" formControlName="nombre">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>DEPARTAMENTO</mat-label>
                        <input matInput placeholder="Cauca" formControlName="DEPARTAMENTO">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>MUNICIPIO</mat-label>
                        <input matInput placeholder="timbio" formControlName="MUNICIPIO">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>DESCRIPCION</mat-label>
                        <input matInput placeholder="vereda la x" formControlName="DESCRIPCION">
                    </mat-form-field>
                    <br><br>
                </div>
            </div>
        </div>
</div>
