
<!DOCTYPE html>
<html lang="en">

<body>
    <h1 style="color: rgb(0, 0, 0); text-align: center;">MONITORIZACIÓN DE VARIABLES</h1>
    <h3 style="color: rgb(0, 0, 0);text-align: center;">Estos valores son orientativos y 
        pueden variar dependiendo de la variedad de café y las condiciones específicas de la región.</h3>
    <div class="container">
        <main class="main-content">
            <section class="overview">
                <div>
                    <canvas #nitrogenoChart></canvas>
                    <br>
                    <h3>El nitrógeno es un nutriente esencial para el crecimiento de las plantas. Es un componente fundamental de la clorofila,
                    que les permite llevar a cabo la fotosíntesis. Un buen nivel de nitrógeno promueve un crecimiento vegetativo saludable,
                    lo que resulta en más hojas y, por ende, más capacidad de fotosíntesis. Sin un nivel adecuado de nitrógeno, las plantas
                    de café pueden volverse amarillas (clorosis) y su crecimiento se verá comprometido.</h3>
                </div>
            </section>
          
            <section class="overview">
                <div>
                    <canvas #fosforoChart></canvas>
                    <br>
                    <h3>El fósforo es vital para el desarrollo de las raíces y juega un papel crucial en la transferencia de energía dentro de
                    la planta. Es un componente de moléculas importantes como el ATP (adenosín trifosfato), que es fundamental en la
                    fotosíntesis y en procesos de respiración de la planta. Adecuados niveles de fósforo garantizan un buen desarrollo
                    radicular, lo que ayuda en la absorción de agua y otros nutrientes del suelo.</h3>
                </div>
            </section>
        </main>
        <br><br>
        <main class="main-content">
            <section class="overview">
                <div>
                    <canvas #potasioChart></canvas>
                    <br>
                    <h3>El potasio es esencial para la regulación del equilibrio hídrico dentro de la planta y ayuda a mejorar la resistencia a
                    enfermedades. Se encarga de activar varias enzimas y es clave en la síntesis de proteínas y en la producción de frutos.
                    Un nivel adecuado de potasio mejora la calidad del café, incluyendo su sabor y nivel de azúcares.</h3>
                </div>
            </section>
            
            <section class="overview">
                <div>
                    <canvas #humedadChart></canvas>
                    <br>
                    <h3>La humedad del suelo es crucial para el crecimiento del café, ya que el agua es necesaria para la fotosíntesis y el
                    transporte de nutrientes. Un nivel óptimo de humedad asegura que las plantas tengan acceso suficiente al agua sin el
                    riesgo de encharcamiento, que puede dañar las raíces y provocar enfermedades.</h3>
                </div>
            </section>
        </main>
        <br><br>
        <main class="main-content">
            <section class="overview">
                <div>
                    <canvas #temperaturaChart></canvas>
                    <br>
                    <h3>La temperatura del suelo afecta las reacciones químicas y biológicas que ocurren en él, incluidas las relacionadas con
                    el crecimiento de las raíces y la actividad de los organismos del suelo. Temperaturas dentro de este rango favorecen un
                    desarrollo radicular saludable y una buena actividad microbiológica, lo que resulta en un suelo más fértil</h3>
                </div>
            </section>
            
            <section class="overview">
                <div>
                    <canvas #conductividadChart></canvas>
                    <br>
                    <h3>La conductividad eléctrica del suelo es una medida de la salinidad. Un nivel muy alto de sal puede ser perjudicial para
                    las plantas al interferir con la absorción de agua y nutrientes, además de causar toxicidad. Mantener la conductividad
                    en niveles óptimos asegura que las plantas puedan absorber el agua de manera eficiente.</h3>
                </div>
            </section>
        </main>
        
        <main class="main-content">

            <section class="overview">
                <div>
                    <br>
                    <h3>El pH influye en la disponibilidad de los nutrientes en el suelo. Un pH ligeramente ácido es ideal para el café, ya que
                    permite una mejor disponibilidad de nitrógeno, fósforo, potasio y otros micronutrientes esenciales. Si el pH es
                    demasiado alto o bajo, algunos nutrientes pueden volverse menos disponibles, lo que puede afectar el crecimiento y la
                    producción de café.</h3>
                </div>
            </section>

            <section class="overview">
                <div>
                    <canvas #bateriaChart></canvas>
                </div>
            </section>
        </main>
    </div>
</body>

</html>