
<div >

<body >
    <h1 style="color: rgb(0, 0, 0); text-align: center; font-weight: bold;">MONITORIZACIÓN DE VARIABLES</h1>
    <h3 style="color: rgb(0, 0, 0);text-align: center;">Estos valores son aproximados y pueden cambiar 
        según el tipo de café y las condiciones específicas de la región.</h3>
    <div class="container">
        <main class="main-content">
            <section class="overview">
                <div>
                    <canvas #nitrogenoChart></canvas>
                    <br>
                    <p style="font-weight: bold;">{{ nitrogenoMensaje }}</p>
                    <h5 style="text-align: justify;">El nitrógeno es un nutriente clave para el desarrollo de las plantas, ya que forma parte esencial de la clorofila, el
                    compuesto que les permite realizar la fotosíntesis. Una deficiencia de nitrógeno puede hacer que las plantas de café
                    adquieran un tono amarillo, afectando su crecimiento y productividad.</h5>
                </div>
            </section>
          
            <section class="overview">
                <div>
                    <canvas #fosforoChart></canvas>
                    <br>
                    <p style="font-weight: bold;">{{ fosforoMensaje }}</p>
                    <h5 style="text-align: justify;">El fósforo es un nutriente esencial para el desarrollo de las raíces y desempeña un papel importante en la fotosíntesis y
                    la respiración de las plantas. Mantener niveles adecuados de fósforo favorece un sistema radicular fuerte, mejorando la
                    absorción de nutrientes del suelo.</h5>
                </div>
            </section>
        </main>

        <main class="main-content">
            <section class="overview">
                <div>
                    <canvas #potasioChart></canvas>
                    <br>
                    <p style="font-weight: bold;">{{ potasioMensaje }}</p>
                    <h5 style="text-align: justify;">El potasio es un nutriente vital que regula el equilibrio hídrico en las plantas y fortalece su resistencia a
                    enfermedades. Además, activa diversas enzimas, favorece la síntesis de proteínas y contribuye a la producción de frutos.
                    En el caso del café, mejora su calidad, realzando el sabor y aumentando los niveles de azúcares.</h5>
                </div>
            </section>
            
            <section class="overview">
                <div>
                    <canvas #humedadChart></canvas>
                    <br>
                    <p style="font-weight: bold;">Humedad actual: {{ humedadValor }}%</p>
                    <h5 style="text-align: justify;">La humedad en el suelo contribuye con el desarrollo óptimo de las plantas, ya que influye en procesos
                    como la fotosíntesis, la respiración y la transpiración. Mantener la humedad en rangos adecuados (entre 65% y 80%) ayuda a prevenir el
                    estrés hídrico y a mejorar la calidad y productividad del cultivo.</h5>
                </div>
            </section>
        </main>

        <main class="main-content">
            <section class="overview">
                <div>
                    <canvas #temperaturaChart></canvas>
                    <br>
                    <p style="font-weight: bold;">Temperatura actual: {{ temperaturaValor }}°C</p>
                    <h5 style="text-align: justify;">La temperatura adecuada del suelo para el cultivo del café es de 18 °C a 25 °C. Este rango favorece la fotosíntesis,
                    el crecimiento de las raíces y la absorción de nutrientes, asegurando un desarrollo saludable y una buena calidad del
                    grano.</h5>
                </div>
            </section>
            
            <section class="overview">
                <div>
                    <canvas #conductividadChart></canvas>
                    <br>
                    <p style="font-weight: bold;">Conductividad eléctrica actual: {{ conductividadValor }}dS/m</p>
                    <h5 style="text-align: justify;">La conductividad eléctrica del suelo mide su salinidad. Para el cultivo de café, un rango adecuado de conductividad
                    eléctrica se encuentra entre 0.3 y 1.0 dS/m. Niveles por debajo de 0.3 dS/m pueden indicar deficiencias de
                    nutrientes, mientras que valores superiores a 1.0 dS/m indican alta salinidad, lo que puede interferir con la
                    absorción de agua y nutrientes, y causar toxicidad, afectando el crecimiento y la productividad de las plantas.</h5>
                </div>
            </section>
        </main>
        
        <main class="main-content">

            <section class="overview">
                <div>
                    <canvas #phChart></canvas>
                    <br>
                    <p style="font-weight: bold;">{{ phMensaje }}</p>
                    <h5 style="text-align: justify;">El pH del suelo, idealmente entre 6.0 y 6.5 para el café, afecta la disponibilidad de nutrientes esenciales. Un pH
                    ligeramente ácido facilita la absorción de nutrientes, mientras que valores fuera de este rango pueden limitar su
                    disponibilidad y afectar el crecimiento de las plantas.</h5>
                </div>
            </section>

            <section class="overview">
                <div>
                    <canvas #bateriaChart></canvas>
                    <br>
                    <p style="font-weight: bold;">Porcentaje de batería del módulo IoT: {{ bateriaValor }}%</p>
                </div>
            </section>
        </main>
        <section class="overview" style="background-color: #19305C;">
            <button routerLink="/dashboard" class="button" style="margin-right: 950px;">REGRESAR</button>
            <button routerLink="/dashboard/sugerenciad" class="button">VER SUGERENCIA</button>
        </section>
    </div>
</body>

</div>