
   <div class="body"> 
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="80"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
            <br><br><br><br><br>         
            <h1 class="ti">PROYECTO NPK</h1>   
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Correo</mat-label>
                <input type="text" matInput autocomplete="on" [(ngModel)]="correo" formControlName="correo">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" [(ngModel)]="contrasena" formControlName="contrasena" class="color-c">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-raised-button color="primary"
                [disabled]="form.invalid"  >Ingresar</button>
            
            <button class="ancho button" mat-raised-button color="primary"
                routerLink="/register">Registrarse</button>
            <br>
            <br>
            
        </form>
    </div>
</div>