
.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    border: 3px solid #331cff;
}
.ancho{
    width: 80%;  
}

.width-100{
    width: 100%;
}


.button {
    height: 50px;
    text-align: center;
    margin-top: 10px;
}
