.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: transparent;
    background-image: url("https://img.freepik.com/fotos-premium/cereza-cafe-finca-cafe_173387-1828.jpg?w=826");
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}
.ancho{
    width: 80%;
    background-color: transparent;
    
}
.button{
    height: 50px;
}
.spinner{
    margin: 0 auto;
}

.ti{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}