<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>

<body>



    <div class="box">

        <div class="imgBx">

            <img src="assets/img/campo.png" alt="">

        </div>

        <div class="content">

            <h2>ver fincas
            <br><span></span> <a matTooltip="ver fincas" routerLink="/dashboard/finca">ver</a></h2>

        </div>

    </div>

</body>

</html>
