 <div class="container">
    <mat-toolbar style="background-color: transparent;">
        <h1 style="color: rgb(0, 0, 0);">FUMIGACIÓN</h1>
    </mat-toolbar>
    
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Columnas de la tabla fumigacion-->
        <ng-container matColumnDef="Tipo fumigacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo fumigacion </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo_f}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Fecha aplicacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha aplicacion </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha_f| date}} </td>
        </ng-container>

        <ng-container matColumnDef="Costo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
            <td mat-cell *matCellDef="let element"> {{element.Costo_f}} $</td>
        </ng-container>

        <ng-container matColumnDef="Observaciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.Observaciones_f}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">
                <a class="pointer" matTooltip="Eliminar Fumigacion">
                    <mat-icon class="mat-icon mat-warn" (click)="eliminarFum(element._id)"> delete_outline </mat-icon>
                </a>
            </td>
        </ng-container>
         
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>   
    <mat-paginator [pageSizeOptions]="[2, 3, 5]" showFirstLastButtons></mat-paginator>
   <button class="button" (click)="toggleFormf()" mat-raised-button color="primary" routerLink="/dashboard/plan-fumigacion">AGREGAR PLAN DE FUMIGACION</button>
<!--Fromulario1-->
<br><br>
<div *ngIf="showFormf" class="imag">
    <mat-card style="margin-top: 10px ; background-color: transparent; ">

        <form [formGroup]="formulariof" (ngSubmit)="guardarf()">
            <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="7">
                    <img src="https://archivo.lapatria.com/sites/default/files/imagenprincipal/2014/Mayo/cafe_-_fumigacion_-_mm_j02.jpg"
                        class="centrarf">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Tipo de fumigacion</mat-label>
                        <input matInput placeholder="Foliar" matInput autocomplete="off"
                            formControlName="Tipo_f">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Fecha de fumigado</mat-label>
                        <td mat-cell *matCellDef="let element"> {{element.Fecha_f}} </td>
                        <input matInput [matDatepicker]="picker" matInput placeholder="12/05/2023" formControlName="Fecha_f">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Costo de la fumigacion</mat-label>
                        <input matInput placeholder="Inserte valor numerico"
                               matInput autocomplete="off" 
                               formControlName="Costo_f" inputmode="numeric" pattern="[0-9]*">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Observaciones</mat-label>
                        <input matInput autocomplete="off" 
                             formControlName="Observaciones_f">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="button" mat-button routerLink="/dashboard" mat-raised-button color="primary">Cancelar</button>
                    <button class="button" type="submit" [disabled]="formulariof.invalid" mat-raised-button color="primary">Insertar</button>
                </mat-grid-tile>
            </mat-grid-list>

        </form>

    </mat-card>
</div>
<br><br><br><br>
<mat-toolbar style="background-color: transparent;">
    <h1 style="color: rgb(0, 3, 6);">NUTRICIÓN</h1>
</mat-toolbar>
<!--Tabla de nutrición-->
<table mat-table [dataSource]="datasource1" matSort>

    <ng-container matColumnDef="Tipo Fertilizante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Fertilizante </th>
        <td mat-cell *matCellDef="let element"> {{element.Tipo_n}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha aplicacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha aplicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.Fecha_n| date}} </td>
    </ng-container>

    <ng-container matColumnDef="Costo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
        <td mat-cell *matCellDef="let element"> {{element.Costo_n}} $</td>
    </ng-container>

    <ng-container matColumnDef="Observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
        <td mat-cell *matCellDef="let element"> {{element.Observaciones_n}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
            <a class="pointer" matTooltip="Eliminar Nutriciones">
                <mat-icon class="mat-icon mat-warn" (click)="eliminarN(element._id)"> delete_outline </mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>
<br>
<button class="button" (click)="toggleFormn()" routerLink="/dashboard/plan-fumigacion">AGREGAR NUTRICION </button>
<!--Formulario2-->

<div *ngIf="showFormN" class="imag2">
    <mat-card style="margin-top: 10px ; background-color: transparent; ">

        <form [formGroup]="formn" (ngSubmit)="guardarN()">
            <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="7">
                    <img src="https://quecafe.info/wp-content/uploads/2019/07/ferticafe.png"
                        class="centrarf">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Tipo de Nutricion</mat-label>
                        <input matInput placeholder="Foliar" matInput autocomplete="off" formControlName="Tipo_n">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Fecha de Nutricion</mat-label>
                        <td mat-cell *matCellDef="let element"> {{element.Fecha_n}} </td>
                        <input matInput [matDatepicker]="picker" matInput placeholder="12/05/2023"
                            formControlName="Fecha_n">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Costo de Nutricion</mat-label>
                        <input matInput placeholder="Inserte valor numerico" matInput autocomplete="off"
                            formControlName="Costo_n" inputmode="numeric" pattern="[0-9]*">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Observaciones</mat-label>
                        <input matInput autocomplete="off" formControlName="Observaciones_n">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="button" mat-button routerLink="/dashboard/plan-fumigacion" mat-raised-button color="primary">Cancelar</button>
                    <button class="button" type="submit" [disabled]="formn.invalid" mat-raised-button  color="primary">Insertar</button>
                </mat-grid-tile>
            </mat-grid-list>

        </form>

    </mat-card>
</div>
<br><br><br><br>
<!--Tabla de cosechas-->
<mat-toolbar style="background-color: transparent;">
    <h1 style="color: rgb(0, 5, 8);">PRODUCCIÓN</h1>
</mat-toolbar>
<!--Tabla-->
<table mat-table [dataSource]="datasource2" matSort>

    <ng-container matColumnDef="Fecha de recoleccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de recoleccion</th>
        <td mat-cell *matCellDef="let element"> {{element.Fecha_recoleccion| date}} </td>
    </ng-container>

    <ng-container matColumnDef="Produccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Produccion </th>
        <td mat-cell *matCellDef="let element"> {{element.Produccion}} kg</td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
            <a class="pointer" matTooltip="Eliminar cosecha">
                <mat-icon class="mat-icon mat-warn" (click)="eliminarC(element._id)"> delete_outline </mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>
<br>
<button class="button" (click)="toggleFormc()" routerLink="/dashboard/plan-fumigacion">AGREGAR COSECHA </button>
<!--Formulario3 cosecha-->

<div *ngIf="showFormC" class="imag1">
    <mat-card style="margin-top: 10px ; background-color: transparent; ">

        <form [formGroup]="formc" (ngSubmit)="guardarC()">
            <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="7">
                    <img src="https://cdn.pixabay.com/photo/2018/05/12/00/32/coffee-3392168_1280.jpg" class="centrarf">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Fecha_recoleccion</mat-label>
                        <td mat-cell *matCellDef="let element"> {{element.Fecha_recoleccion}} </td>
                        <input matInput [matDatepicker]="picker" matInput placeholder="12/05/2023"
                            formControlName="Fecha_recoleccion">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="anchof">
                        <mat-label>Produccion</mat-label>
                        <input matInput placeholder="Inserte cantidad de produccion(kg)" matInput autocomplete="off"
                            formControlName="Produccion" inputmode="numeric" pattern="[0-9]*">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="button" mat-button routerLink="/dashboard/plan-fumigacion" mat-raised-button color="primary">Cancelar</button>
                    <button class="button" type="submit" [disabled]="formc.invalid" mat-raised-button color="primary">Insertar</button>
                </mat-grid-tile>
            </mat-grid-list>

        </form>

    </mat-card>
</div>

</div>