body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.header img {
    height: 40px;
    vertical-align: middle;
}

.header .username {
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    position: relative;
}

.botonf {
    background-color: #4636f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}
