
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
   
</head>

<body>
    <div class="header">
        <img src="" >
        <span style="color: aliceblue; align-content: center;">      INFORMACIÓN DEL USUARIO        </span>
    </div>
    <div class="container">
        <div class="profile-header">
            <img src="https://cdn.pixabay.com/photo/2020/10/10/13/43/coffee-5643112_1280.jpg" alt="Profile Image" width="80" height="80">
            <h2>{{nombre2}} {{apellido2}}</h2>
        </div>
        <div class="details">
            
            <br>
            <h3>Nombre:  {{nombre2}}</h3>
            <br>
            <h3>Apellido:   {{apellido2}}</h3>
            <br>
            <h3>Dirección de correo: {{correo2}}</h3>
            <br>
        </div>
        <button routerLink="/dashboard/" class="bontof">Inicio</button>
    </div>
    <div class="footer">
        Proyecto NPK 
    </div>
</body>
