/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-spacer {
    flex: 1 1 auto;
  }

.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;

    background-color: transparent;
    background-image: url("https://img.freepik.com/fotos-premium/cereza-cafe-finca-cafe_173387-1828.jpg?w=826");
    background-size: cover;
    background-position: center center;
}