<div class="container">
    <mat-toolbar style="background-color: transparent;">
      <span>Nuevo lote</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px ; background-color: transparent;"> 

      <form [formGroup]="form" (ngSubmit)="guardarl()">
        <mat-grid-list cols="4"  rowHeight="70px">

            <mat-grid-tile [colspan]="1" [rowspan]="7" >
                <img src='assets/img/lote.png' class="centrar">
            </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-form-field class="ancho1">
            <br>
            <mat-label> No. Lote </mat-label>
            <mat-select class="form-control" formControlName="Nombre">
              <mat-option *ngFor="let item of Numeros" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field class="ancho1">
                  <mat-label>Area</mat-label>
                  <input  matInput placeholder="metros cuadrados" matInput autocomplete="off" formControlName="Area">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho1">
                  
                  <mat-label>Fecha de siembra</mat-label>
                  <td mat-cell *matCellDef="let element"> {{element.fecha_siembra}} </td>
                  <input matInput [matDatepicker]="picker" matInput placeholder="12/05/2023" formControlName="Fecha_siembra">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho1">
                <mat-label>Variedad</mat-label>
                <input matInput placeholder="caturro" matInput autocomplete="off" formControlName="Variedad">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho1">
                <mat-label>Caracteristica</mat-label>
                <input matInput placeholder="alto rendimiento" matInput autocomplete="off" formControlName="Caracteristica">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-button routerLink="/dashboard" mat-raised-button color="primary">Regresar</button>
                <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary" >Insertar</button>
            </mat-grid-tile>
        </mat-grid-list>
        
      </form>
    
    </mat-card>
</div>  
